<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
 <header>

   <p>home </p>
  
   <!--
   <mecan-root
     [nom]="'John Doe'"
     [nomGarage]="'Garage ABC'"
     [adresse]="'123 Main Street'"
     [numeroTelephone]="'555-1234'"
     [nombreLikes]="10"
     [photoUrl]="'assets/john_doe.jpg'"
     [description]="'ana mnayak mecanique alhaj'"
   ></mecan-root>
   <mecan-root
     [nom]="'Aymen Messaad'"
     [nomGarage]="'Garage ta3na'"
     [adresse]="'666 Main Street'"
     [numeroTelephone]="'555-1234'"
     [nombreLikes]="100"
     [photoUrl]="'assets/john_doe.jpg'"
     [description]="'ana mnayak mecanique alhaj'"
   ></mecan-root>
   <mecan-root
     [nom]="'John Doe'"
     [nomGarage]="'Garage ABC'"
     [adresse]="'123 Main Street'"
     [numeroTelephone]="'555-1234'"
     [nombreLikes]="10"
     [photoUrl]="'assets/john_doe.jpg'"
     [description]="'ana mnayak mecanique alhaj'"
   ></mecan-root>
   <mecan-root
     [nom]="'Aymen Messaad'"
     [nomGarage]="'Garage ta3na'"
     [adresse]="'666 Main Street'"
     [numeroTelephone]="'555-1234'"
     [nombreLikes]="100"
     [photoUrl]="'assets/john_doe.jpg'"
     [description]="'ana mnayak mecanique alhaj'"
   ></mecan-root>
   <mecan-root
     [nom]="'John Doe'"
     [nomGarage]="'Garage ABC'"
     [adresse]="'123 Main Street'"
     [numeroTelephone]="'555-1234'"
     [nombreLikes]="10"
     [photoUrl]="'assets/john_doe.jpg'"
     [description]="'ana mnayak mecanique alhaj'"
   ></mecan-root>
   <mecan-root
     [nom]="'Aymen Messaad'"
     [nomGarage]="'Garage ta3na'"
     [adresse]="'666 Main Street'"
     [numeroTelephone]="'555-1234'"
     [nombreLikes]="100"
     [photoUrl]="'assets/john_doe.jpg'"
     [description]="'ana mnayak mecanique alhaj'"
   ></mecan-root>
-->

 </header>



</body>
</html>
